body {
  background: papayawhip;
  margin: 0px;
  padding: 20px;
}
*{
  box-sizing: border-box;
}
.a{
  background-color: red;
  border: 1px solid black;
  height: 5em;
}
.b{
  background-color: gray;
  border: 1px solid black;
  height:15em;
}
.c{
  background-color: yellow;
  border: 1px solid black;
  width: 30em;
  height: 5em;
}
.d{
  background-color: blueviolet;
  border: 1px solid black;
  width: 30em;
  height: 5em;
}
.e{
  background-color: white;
  border: 1px solid black;
  width:30em;
  height: 5em;
}
.f{
  background-color: green;
  border: 1px solid black;
  height: 5em;
}
.cde{
  display: flex;
  justify-content: space-around;
}

/* all a,b,c,d,e heights same. f 2x height. a left alone. b has c,d,e below with f on right side of both */
@media screen and (min-width:640px){
  .container{
    display:grid;
    grid-template-columns: [c1] 25% [c2] 25% [c3] 25% [c4] 25% [end];
    grid-template-rows: [r1] 25% [r2] 25% [r3] 25% [r4] 25% [last-line];
  }

  .a{
    grid-column: c1 / span end;
    grid-row: r1 span r2;
  }
  .b{
    height: 5em;
    grid-column: c1 / span c3;
    grid-row: r2 / span r3;
  }
  .c{
    grid-column: c1 / span c1;
    grid-row: r3 / span r4;
  }
  .d{
    grid-column: c2 / span c2;
    grid-row: r4 / span r4;
  }
  .e{
    grid-column: c2 / span c2;
    grid-row: r3 / span r3;
  }
  .f{
    grid-column: c2 / span c2;
    grid-row: r3 / span r3; 
    width: 5em;
    height: 10em;
  }
}