body {
  background: papayawhip;
  margin: 0px;
  padding: 20px;
}
*{
  box-sizing: border-box;
}
.a{
  background-color: red;
  border: 1px solid black;
  height: 5em;
}
.b{
  background-color: gray;
  border: 1px solid black;
  height:15em;
}
.c{
  background-color: yellow;
  border: 1px solid black;
  width: 30em;
  height: 5em;
}
.d{
  background-color: blueviolet;
  border: 1px solid black;
  width: 30em;
  height: 5em;
}
.e{
  background-color: white;
  border: 1px solid black;
  width:30em;
  height: 5em;
}
.f{
  background-color: green;
  border: 1px solid black;
  height: 5em;
}
.cde{
  display: flex;
  justify-content: space-around;
}

/* all a,b,c,d,e heights same. f 2x height. a left alone. b has c,d,e below with f on right side of both */
@media screen and (min-width:640px){
  .bcdef{
    display: flex;
  }
  .bcde{
    display: flex;
    flex-direction: column;
  }
  .b {
    width:45em;
    height: 5em
  }
  .c{
    width:15em;
  }
  .d{
    width: 15em;
  }
  .e{
    width: 15em;
  }
  .f{
    height:10em;
    width:30em;
  }
}